Repository EOSC-synergy/eosc-perf, pull requests merged in 2022-01, with the labels that each got.

#157 Add db.create_all to autoapp.py
  service_backend/README.md
  service_backend/autoapp.py
Labels: code improvement, backend

#158 Return 422 on submited results executed in future
  service_backend/backend/routes/results.py
  service_backend/tests/results/test_routes.py
Labels: bug, backend

#151 [api] fix json subfields sorting
  service_backend/backend/utils/queries.py
  service_backend/tests/db_instances.py
  service_backend/tests/results/test_routes.py
Labels: bug, backend

#150 [api] rm flask-cache
  service_backend/backend/app.py
  service_backend/backend/extensions.py
  service_backend/backend/settings.py
  service_backend/requirements/prod.txt
Labels: code improvement, backend

#154 ci-cd for frontend and backend with reports
  .sqa-backend/config.yml
  .sqa-backend/docker-compose.yml
  .sqa/config.yml
  .sqa/docker-compose.yml
  .sqa/transform-audit.js
  Jenkinsfile
  service_backend/Dockerfile.cicd
  service_backend/Dockerfile.jepl
  service_backend/tox.ini
  service_frontend/.eslintrc.json
  service_frontend/Dockerfile
  service_frontend/Dockerfile.cicd
  service_frontend/jest.config.ts
  service_frontend/package-lock.json
  service_frontend/package.json
Labels: backend, frontend, ci-cd
